<div class="container">
<h1>My Quote</h1>
<hr>

  <div class="row">
   
      <ul>
        <div *ngFor='let quote of quotes;let i = index'>
          <li>{{quote.description}}</li>
          <button class="btn btn-outline-dark" (click)='toogleDetails(i)'>Show Details</button>
          <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
        </div>
        <div *ngFor='let quote of quotes;let i = index'>
        <li  id="{{i}}">{{quote.name}} due on {{quote.completeDate|date}}</li>
        </div>
       </ul>
       
      
  </div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>


