/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    font-family: 'Oleo Script', cursive;
    background-color: #7FB3D5  ;
}
#h1{
    font-size: 70px;
    text-align: center;
}